In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/discriptors.csv')

<ipython-input-8-fc8ae9906c25>:1: DtypeWarning: Columns (5,6,7,8,9,10,11,12,13,14,15,16,54,55,56,57,58,59,60,61,62,141,150,153,154,155,156,157,158,168,177,186,195,204,213,222,231,261,262,263,264,265,266,267,268,269,348,357,366,369,370,371,372,373,374,384,393,402,411,420,429,438,447,455,463,471,474,475,476,477,478,487,495,503,511,519,527,535,543,551,559,567,570,571,572,573,574,583,591,599,607,615,623,631,639,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,859,867,871,872,873,875,883,887,888,889,921,922,923,924,925,926,927,928,929,930,931,932,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1573,1574,1576,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1796,1825) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/discriptors.csv')

In [ ]:
df.head()

,Unnamed: 0,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,0,36.465816,27.405250,0,0,58.853897,2.348743,4.697486,58.853897,1.226123,...,10.480691,85.311583,665.317311,7.311179,8296,73,236.0,265.0,18.777778,10.638889
1,1,29.023147,23.569074,1,0,46.231616,2.483339,4.939947,46.231616,1.249503,...,10.607352,87.594531,645.895007,12.664608,4411,62,198.0,234.0,14.006944,7.902778
2,2,28.464626,21.775963,0,2,44.222663,2.536442,5.072883,44.222663,1.228407,...,10.688279,73.103680,540.146089,8.439783,3923,62,196.0,231.0,13.847222,7.527778
3,3,27.757520,21.899712,0,2,42.800569,2.537401,5.071371,42.800569,1.222873,...,10.665157,85.124900,537.081046,9.260018,3633,59,192.0,227.0,13.597222,7.277778
4,4,25.864952,22.067158,0,0,42.952937,2.523582,4.970902,42.952937,1.263322,...,10.633521,85.298023,504.169035,7.638925,3503,65,180.0,220.0,14.756944,7.652778

In [ ]:
# find columns containing text using regular expression
text_columns = df.select_dtypes(include=['object']).columns.tolist()

# drop the text columns from the DataFrame
df = df.drop(text_columns, axis=1)

# Save the new DataFrame to a CSV file
df.to_csv('df_numeric.csv', index=False)
# output the updated DataFrame
#print(df)
df.shape

(1797, 1019)